---
import { Pickaxe } from "@lucide/astro";
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    <p class="text-base-content/60">
      Copyright © {new Date().getFullYear()} - Akshat Srivastava&nbsp;
      <Pickaxe class="inline size-4 mb-1" />
      All rights reserved.
    </p>
  </aside>
</footer>
