---
import { BookOpen, FolderCode } from "@lucide/astro";

interface Props {
  currentPage?: "home" | "blog" | "projects";
}

const { currentPage = "home" } = Astro.props;

const tabs = [
  {
    name: "Blog",
    href: "/blog",
    icon: BookOpen,
    active: currentPage === "blog",
  },
  {
    name: "Projects",
    href: "/projects",
    icon: FolderCode,
    active: currentPage === "projects",
  },
];
---

<div class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50">
  <div class="flex gap-2 bg-base-200 rounded-lg p-1">
    {
      tabs.map((tab) => {
        const Icon = tab.icon;
        return (
          <a
            href={tab.href}
            class={`btn btn-sm gap-2 ${tab.active ? "btn-primary" : "btn-ghost"}`}
          >
            <Icon class="size-4" />
            {tab.name}
          </a>
        );
      })
    }
  </div>
</div>
