name: Deploy to Vercel

on:
    push:
        branches: [master]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install dependencies
              run: npm ci

            - name: Build
              run: npm run build

            - name: Install Vercel CLI
              run: npm install --global vercel@latest

            - name: Deploy to Vercel
              run: vercel --prod --token=${{ secrets.VERCEL_TOKEN }}
